<div id="wrapper" class="container-lg">
  <header id="header" class="row">
    <div class="col-12 text-center d-flex align-items-center justify-content-center">
      <h1>{{title}}</h1>
    </div>
  </header>

  <nav id="nav" class="row">
    <div class="col-12">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
      </ul>
    </div>
  </nav>

  <main id="main" class="row">
    <div class="col-12">
      <!-- Actual Component -->
    </div>
  </main>

  <footer id="footer" class="row">
    <div class="col-12 text-center">
      <small>Ángel Herce Soto</small>
    </div>
  </footer>
</div>
