/.idea
/backend-profesor/.idea
/backend-profesor/mysql
/backend-profesor/vendor
/backend-profesor/composer.lock
/backend-profesor/docker-compose.yaml.bak
/backend-profesor/dockerfile.bak

/backend-php/.idea
/backend-php/mysql
/backend-php/vendor
/backend-php/composer.lock
/backend-php/docker-compose.yaml.bak
/backend-php/dockerfile.bak

/backend-js/.idea
/backend-js/mysql
/backend-js/uploads
/backend-js/node_modules
/backend-js/package-lock.json
/backend-js/docker-compose.yaml.bak
/backend-js/dockerfile.bak
