<h1>{{title}}</h1>
<div id="employees">
   <div>
      <h2>Trabajadores Internos</h2>
      <ul>
         <ng-container *ngFor="let employee of employees; let i = index">
            <li *ngIf="!employee.isExternal()" (click)="switchExternal( employee )">{{i+1}} - Empleado: {{employee.getName()}} | Edad: {{employee.getAge()}}</li>
         </ng-container>
      </ul>
   </div>

   <div>
      <h2>Trabajadores Externos</h2>
      <ul>
         <ng-container *ngFor="let employee of employees; let i = index">
            <li *ngIf="employee.isExternal()" (click)="switchExternal( employee )">{{i+1}} - Empleado: {{employee.getName()}} | Edad: {{employee.getAge()}}</li>
         </ng-container>
      </ul>
   </div>
</div>
