<h1>{{title}}</h1>

<hr/>

<div id="employees">
   <div>
      <h2>Trabajadores Internos</h2>
      <ul>
         <ng-container *ngFor="let employee of employees; let i = index">
            <li *ngIf="!employee.isExternal()" (click)="switchExternal( employee )">{{i+1}} - Empleado: {{employee.getName()}} | Edad: {{employee.getAge()}}</li>
         </ng-container>
      </ul>
   </div>

   <div>
      <h2>Trabajadores Externos</h2>
      <ul>
         <ng-container *ngFor="let employee of employees; let i = index">
            <li *ngIf="employee.isExternal()" (click)="switchExternal( employee )">{{i+1}} - Empleado: {{employee.getName()}} | Edad: {{employee.getAge()}}</li>
         </ng-container>
      </ul>
   </div>
</div>

<hr/>

<h2>Colores Switch</h2>
<div id="colors" [ngSwitch]="color">
   <p *ngSwitchCase="'cyan'" [ngStyle]="{'background-color': color, 'color': '#FFF' }">Es de color Cian</p>
   <p *ngSwitchCase="'red'" [ngStyle]="{'background-color': color, 'color': '#FFF' }">Es de color Rojo</p>
   <p *ngSwitchCase="'green'" [ngStyle]="{'background-color': color, 'color': '#FFF' }">Es de color Verde</p>
   <p *ngSwitchCase="'yellow'" [ngStyle]="{'background-color': color, 'color': '#333' }">Es de color Amarillo</p>
</div>

<hr/>

<h2>Selector de Colores</h2>

<div id="color-selector">
   <input type="text" [(ngModel)]="colorSelected"/>

   <div class="field"
        [ngStyle]="{'background-color': colorSelected}"
        [style.color]="colorSelected == 'black' ? 'white' : 'black'"
        [class.correct]="colorSelected === 'cyan'" >{{colorSelected}}</div>
</div>
