<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <div class="shadow container-fluid p-5 mb-4 bg-light rounded-3">
      <h2>{{title}}</h2>
      <p>Gestiona tus productos con la aplicación web SPA creada con Angular desde 0</p>
      <div class="row">
        <div class="col-12">
          <a href="" class="btn btn-md btn-primary me-3" [routerLink]="['/product']">Ver productos</a>
          <a href="" class="btn btn-md btn-primary">Añadir productos</a>
        </div>
      </div>
    </div>
  </div>
</div>
