<header class="row">
  <div class="col-lg-12">
    <h2>{{title}}</h2>
  </div>
</header>
<main class="row">
  <div class="col-lg-12 d-flex flex-wrap justify-content-center">
    <ng-container *ngIf="errorMsg == null; then cards else error"></ng-container>
  </div>
</main>

<ng-template #cards>
  <div class="card p-3 mx-3 my-3" style="width: 250px;" *ngFor="let target of products">
    <img src="{{urlImages}}/{{target.image}}" class="card-img-top" alt="..." *ngIf="target.image != null"/>
    <img src="{{urlImages}}/{{imageDefault}}" class="card-img-top" alt="..." *ngIf="target.image == null"/>
    <div class="card-body pb-3">
      <h5 class="card-title">{{target.name}}</h5>
      <p class="card-text">{{target.description}}</p>
    </div>

    <p class="price text-center">{{target.price}}€</p>
    <footer class="card-footer d-flex justify-content-center">
      <a [routerLink]="['/']" class="btn btn-md btn-success mx-1"><i class="fa-solid fa-eye"></i></a>
      <a [routerLink]="['/']" class="btn btn-md btn-warning mx-1"><i class="fa-solid fa-pen-to-square"></i></a>
      <a [routerLink]="['/']" class="btn btn-md btn-danger mx-1"><i class="fa-solid fa-trash"></i></a>
    </footer>
  </div>
</ng-template>

<ng-template #table>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let target of products">
      <th scope="row">{{target.id}}</th>
      <td>{{target.name}}</td>
      <td>{{target.description}}</td>
      <td>{{target.price}}€</td>
      <td>{{target.image}}</td>
    </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #error>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="error rounded-3 p-3 col-lg-8 bg-danger text-center d-flex align-items-center justify-content-center">
        <p>{{errorMsg}}</p>
      </div>
    </div>
  </div>
</ng-template>
