<h1>Component de Coches</h1>

<form #formCar="ngForm" (ngSubmit)="onSubmit();formCar.reset()">
   <div class="field">
      <label for="name">Nombre </label>
      <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="car.name" required/>
      <span *ngIf="name.touched && !name.valid"> Nombre del coche es incorrecto</span>
   </div>

   <div class="field">
      <label for="cv">Caballaje </label>
      <input type="number" id="cv" name="cv" #cv="ngModel" [(ngModel)]="car.cv" required pattern="[0-9]+"/>
      <span *ngIf="cv.touched && !cv.valid"> El caballaje no es correcto</span>
   </div>

   <div class="field">
      <label for="color">Color </label>
      <input type="text" id="color" name="color" #color="ngModel" [(ngModel)]="car.color" required pattern="((rojo)|(verde)|(azul)|(amarillo)|(blanco)|(negro)|(gris))"/>
      <span *ngIf="color.touched && !color.valid"> El color del coche, no es un color válido</span>
   </div>

   <br/>

   <div class="field">
      <input type="submit" value="Guardar" [disabled]="!formCar.form.valid"/>
   </div>
</form>

<hr/>

<div class="field result">
   <ul>
      <li *ngFor="let target of cars ; let i = index">{{i+1}} - Nombre: {{target.name}} | Caballaje: {{target.cv}} | Color: {{target.color}}</li>
   </ul>
</div>
